<div class="text-center">
  <h1>Welcome to <%= @party.name %>!</h1>
  <h3>Do you wanna be there?</h3>
  <h3 class="text-danger">Come to <%= @party.location %></h3>
  <h3>When to show up?</h3>
  <h3 class="text-danger"><%= @party.date %>!</h3>
</div>
